<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      依頼内容の確認
    </h1>
    <%# 依頼内容の表示 %>
    <div class='buy-guide-info'>
      <% if @post.user.image? %>
        <%= image_tag @post.user.image.to_s, class: 'buy-guide-img' %>
      <% else %>
        <%= image_tag 'default.png' %>
      <% end %>
      <div class='buy-guide-right-content'>
        <h2 class='buy-guide-text'>
          <%= @post.user.nickname %> 
        </h2>
        <div class='buy-guide-price'>
          <%= form_with model: [@post, @order], local: true do |f| %>
          <p class='guide-price-text'>¥<%= @post.user.guide_fee %>（１時間あたり）</p>
          <p class='guide-hour-text'>ガイド希望時間</p>
          <p class='guide-hour'><%= f.text_field :guide_hour, id:"guide-hour" %>時間</p>
          <%= f.submit "ガイド依頼を確定する" ,class:"guide-confirm-btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <%# /依頼内容の表示 %>
</div>