<div class="post-contents">
    <h2 class="post-request">投稿内容を入力してください</h2>
    <%= form_with model: @post, local: true do |f| %>

    <%# <%= render 'shared/error_messages', model: f.object %> 

    <%# 投稿画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        投稿画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"post-image" %>
      </div>
    </div>
    <%# /投稿画像 %>
    <%# 投稿詳細 %>
    <div class="post-detail">
      <div class="weight-bold-text">
        タイトル
      </div>
      <%= f.text_area :title, class:"post-title", id:"post-title", placeholder:"40文字まで", maxlength:"40" %>

      <div class="weight-bold-text">
        釣行日
      </div>
      <%= f.date_select :date, class:"post-date", id:"post-date" %>

      <div class="weight-bold-text">
        釣行エリア
      </div>
      <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"post-area"}) %>

      <div class="weight-bold-text">
        フィールド
      </div>
      <%= f.text_area :field, class:"post-field", id:"post-field", placeholder:"例：木曽川河口" %>

      <div class="weight-bold-text">
        ジャンル
      </div>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"post-genre"}) %>

      <div class="weight-bold-text">
        魚種
      </div>
      <%= f.text_area :fish, class:"post-fish", id:"post-fish", placeholder:"例：シーバス３匹、黒鯛１匹" %>

      <div class="weight-bold-text">
        タックル
      </div>
      <%= f.text_area :tackle, class:"post-tackle", id:"post-tackle", placeholder:"例：ロッド-モアザン、リール-セルテート、ルアー-レンジバイブ" %>

      <div class="weight-bold-text">
        詳細
      </div>
      <%= f.text_area :text, class:"post-text", id:"post-text", placeholder:"例：夕まずめ２時間の釣果です。ボトムでのリフト&フォールで当たりが出ました。" %>
    </div>
    <%# /投稿詳細 %>

    <%# 下部ボタン %>
    <div class="post-btn-contents">
      <%= f.submit "変更する" ,class:"post-btn" %>
      <%=link_to 'もどる', "#", class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>
</div>
