<%# 共通ヘッダー %>
<%= render partial: "shared/header" %>

<%# 投稿一覧表示 %>
<div class='post-contents'>
  <% @posts.each do |post| %>
    <li class='list'>
      <%= link_to post_path(post.id), method: :get do %>
      <div class='post-img-content'>
        <%= image_tag post.image.variant(resize: '500x500'), class: "post-img" %>
      </div>
      <div class='post-info'>
        <h3 class='post-title'>
          <%= post.title %>
        </h3>
        <h3 class='post-user'>
          <%= post.user.nickname %>
        </h3>
      </div>
      <% end %>
    </li>
  <% end %>
</div>

<%# 新規投稿ページ遷移ボタン %>
<%= link_to(new_post_path, class: 'new-post-btn') do %>
  <span class='new-post-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "new-post-btn-icon" %>
<% end %>