<%= render "shared/header" %>

<div class="post-show">
  <div class="post-box">
    <h2 class="title">
      <%= @post.title %>
    </h2>
    <div class="post-img-content">
      <%= image_tag @post.image.variant(resize: '500x500'),class:"post-box-img" %>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">投稿者</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-post">日付</th>
          <td class="detail-value"><%= @post.date %></td>
        </tr>
        <tr>
          <th class="detail-post">エリア</th>
          <td class="detail-value"><%= @post.area.name %></td>
        </tr>
        <tr>
          <th class="detail-post">フィールド</th>
          <td class="detail-value"><%= @post.field %></td>
        </tr>
        <tr>
          <th class="detail-post">ジャンル</th>
          <td class="detail-value"><%= @post.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-post">魚種</th>
          <td class="detail-value"><%= @post.fish %></td>
        </tr>
        <tr>
          <th class="detail-post">タックル</th>
          <td class="detail-value"><%= @post.tackle %></td>
        </tr>
        <tr>
          <th class="detail-post">詳細</th>
          <td class="detail-value"><%= @post.text %></td>
        </tr>
      </tbody>
    </table>

    <div class="show-btns">
    <% if user_signed_in? %>
      <% if current_user.id == @post.user.id %>
        <%= link_to "投稿の編集", edit_post_path, method: :get, class: "post-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", post_path(@post.id), method: :delete, class:"post-destroy" %>
      <% elsif @post.user.guide_permit %>
        <%= link_to "ガイドを依頼する", post_orders_path(@post.id), class:"post-red-btn"%>
      <% end %>
    <% end %>
    </div>
  </div>
</div>