<%= render "shared/header" %>

<div class="post-show">
  <div class="post-box">
    <h2 class="name">
      <%= @post.name %>
    </h2>
    <div class="post-img-content">
      <%= image_tag @post.image ,class:"post-box-img" %>
    </div>
    <div class="post-price-box">
      <span class="post-price">
        ¥ <%= @post.price %>
      </span>
      <span class="post-postage">
        <%= @post.delivery_fee.name %>
      </span>
    </div>

    <% if user_signed_in? &&  !@post.purchase_record.present? %>
      <% if current_user.id == @post.user.id %>
        <%= link_to "商品の編集", edit_post_path(@post.id), method: :get, class: "post-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", post_path(@post.id), method: :delete, class:"post-destroy" %>
      <% else %>
        <%= link_to "購入画面に進む", post_purchase_records_path(@post.id), class:"post-red-btn"%>
      <% end %>
    <% end %>

    <div class="post-explain-box">
      <span><%= @post.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">出品者</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-post">カテゴリー</th>
          <td class="detail-value"><%= @post.category.name %></td>
        </tr>
        <tr>
          <th class="detail-post">商品の状態</th>
          <td class="detail-value"><%= @post.state.name %></td>
        </tr>
        <tr>
          <th class="detail-post">配送料の負担</th>
          <td class="detail-value"><%= @post.delivery_fee.name %></td>
        </tr>
        <tr>
          <th class="detail-post">発送元の地域</th>
          <td class="detail-value"><%= @post.area.name %></td>
        </tr>
        <tr>
          <th class="detail-post">発送日の目安</th>
          <td class="detail-value"><%= @post.days.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
